* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 250vh;
  background: linear-gradient(0deg, rgb(63, 20, 122) 0%, rgb(15, 16, 28) 25%);
  font-family: "Lexend", sans-serif;
  color: aliceblue;
}
body .underline {
  text-decoration: underline;
  text-decoration-color: rgb(63, 20, 122);
  text-underline-offset: 10px;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: rgb(15, 16, 28);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(63, 20, 122);
  border-radius: 20px;
  border: 3px solid rgb(15, 16, 28);
}

header {
  background: rgba(40, 40, 40, 0.65);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(40, 40, 40, 0.17);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  position: sticky;
  top: 0pc;
  z-index: 100;
  border-bottom: 2px solid rgb(63, 20, 122);
}
header a img {
  margin-right: 600px;
  height: 70px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: aliceblue;
  padding: 10px;
  transition: all 0.3s;
}
header nav ul li a:hover {
  color: rgb(137, 96, 195);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .present {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 50px;
}
main .present img {
  height: 110px;
  border-radius: 70px;
  margin-right: 50px;
}
main .present .text {
  width: 350px;
}
main .present .text h2 {
  font-weight: 300;
  font-size: 35px;
}
main .present .text .typing-demo {
  width: 23ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: "Lexend", sans-serif;
  font-size: 24px;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
main .present h3 {
  margin-top: 10px;
  font-weight: 200;
}
main .contacto {
  display: flex;
  justify-content: center;
}
main .contacto .button {
  text-decoration: none;
  margin-left: 10px;
  width: 150px;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(63, 20, 122);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  gap: 10px;
  font-weight: 200px;
  border: 3px solid rgba(255, 255, 255, 0.3019607843);
  outline: none;
  overflow: hidden;
  font-size: 15px;
  font-family: "Lexend", sans-serif;
}
main .contacto .button .icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}
main .contacto .button:hover {
  transform: scale(1.05);
  border-color: rgba(255, 255, 255, 0.6);
}
main .contacto .button:hover .icon {
  transform: translate(4px);
}
main .contacto .button:hover::before {
  animation: shine 1.5s ease-out infinite;
}
main .contacto .button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.6;
}
@keyframes shine {
  0% {
    left: -100px;
  }
  60% {
    left: 100%;
  }
  to {
    left: 100%;
  }
}
main .aboutMe {
  padding: 20px;
  border-radius: 30px;
  width: 700px;
  display: flex;
  margin-top: 130px;
  flex-direction: column;
  transition: all 0.5s;
}
main .aboutMe p {
  margin-top: 10px;
  line-height: 1.5;
}
main .aboutMe h2 {
  font-weight: 300;
  font-size: 35px;
}
main .aboutMe h2 .size-8 {
  width: 24px;
  height: 24px;
}
main .aboutMe:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transform: scale(1.04);
}

/*# sourceMappingURL=style.css.map */
