html {
    scroll-behavior: smooth;
}
body {
    height: 250vh;
    background: linear-gradient(0deg, rgba(63,20,122,1) 0%, rgb(15, 16, 28) 25%);
    font-family: "Lexend", sans-serif;
    color: aliceblue;
    .underline {
        text-decoration: underline;
        text-decoration-color: rgba(63,20,122,1);
        text-underline-offset: 10px;
    }
}
body::-webkit-scrollbar {
    width: 12px;
}
body::-webkit-scrollbar-track {
    background: rgb(15, 16, 28);
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(63,20,122,1);
    border-radius: 20px;
    border: 3px solid  rgb(15, 16, 28);
}
