header {
    background: rgba(40, 40, 40, 0.65);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(40, 40, 40, 0.17);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    position: sticky;
    top: 0pc;
    z-index: 100;
    border-bottom: 2px solid rgba(63, 20, 122, 1);
    a {
        img {
            margin-right: 600px;
            height: 70px;
        }
    }
    nav {
        ul {
            display: flex;
            li {
                list-style: none;
                a {
                    font-size: 20px;
                    text-decoration: none;
                    color: aliceblue;
                    padding: 10px;
                    transition: all 0.3s;
                }
                a:hover {
                    color: rgb(137, 96, 195);
                }
            }
        }
    }
}