main {
    display: flex;
    flex-direction: column;
    align-items: center;
    .present {
        display: flex;
        height: 200px;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 50px;
        img {
            height: 110px;
            border-radius: 70px;
            margin-right: 50px;
        }
        .text {
            h2 {
                font-weight: 300;
                font-size: 35px;
            }
            width: 350px;
            .typing-demo {
                width: 23ch;
                animation: typing 2s steps(22), blink .5s step-end infinite alternate;
                white-space: nowrap;
                overflow: hidden;
                border-right: 2px solid;
                font-family: "Lexend", sans-serif;
                font-size: 24px;
                
            }
            @keyframes typing {
                from {
                    width: 0
                }
            }
            @keyframes blink {
                50% {
                    border-color: transparent
                }
            }
        }
        h3 {
            margin-top: 10px;
            font-weight: 200;
        }
    }
    .contacto {
        display: flex;
        justify-content:center;
        .button {
            text-decoration: none;
            margin-left: 10px;
            width: 150px;
            position: relative;
            transition: all 0.3s ease-in-out;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            padding-block: 0.5rem;
            padding-inline: 1.25rem;
            background-color: rgba(63,20,122,1);
            border-radius: 9999px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: #ffff;
            gap: 10px;
            font-weight: 200px;
            border: 3px solid #ffffff4d;
            outline: none;
            overflow: hidden;
            font-size: 15px;
            font-family: "Lexend", sans-serif;
            .icon {
                width: 24px;
                height: 24px;
                transition: all 0.3s ease-in-out;
            }
        }
        .button:hover {
            transform: scale(1.05);
            border-color: #fff9;
        }
        .button:hover .icon {
            transform: translate(4px);
        }
        .button:hover::before {
            animation: shine 1.5s ease-out infinite;
        }
        .button::before {
            content: "";
            position: absolute;
            width: 100px;
            height: 100%;
            background-image: linear-gradient(
                120deg,
                rgba(255, 255, 255, 0) 30%,
                rgba(255, 255, 255, 0.8),
                rgba(255, 255, 255, 0) 70%
            );
            top: 0;
            left: -100px;
            opacity: 0.6;
        }
        @keyframes shine {
            0% {
                left: -100px;
            }
            60% {
                left: 100%;
            }
            to {
                left: 100%;
            }
        }
    }
    .aboutMe {
        padding: 20px;
        border-radius: 30px;
        width: 700px;
        display: flex;
        margin-top: 130px;
        flex-direction: column;
        transition: all 0.5s;
        p {
            margin-top: 10px;
            line-height: 1.5;
        }
        h2 {
            font-weight: 300;
            font-size: 35px;
            .size-8 {
                width: 24px;
                height: 24px;
            }
        }
    }
    .aboutMe:hover {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        transform: scale(1.04);
    }
}