main {
    padding: 10px;
    box-shadow: 0px 0px 300px 100px #494949;
    background-color: #494949;
    color: $text-color;
    border-radius: 20px;
    .head2 {
        @include border;
        height: 800px;
        .headasi {
            padding: 0px 0px 100px 100px;
            h1 {
                font-size: 50px;
                font-weight: 300;
                display: inline;
            }
            h3 {
                font-weight: 400;
                font-size: 25px;
            }
        }
        .foto-carnet {
            height: 200px;
            border-radius: 50%;
        }
    }
    .perfil {
        @include border;
        display: block;
        .cvtx {
            margin-top: 50px;
            font-size: 22px;
            font-weight: 300;
        }
        .cvcont {
            color: $blanco;
            text-decoration: none;
            height: 100px;
            display: flex;
            justify-content: center;
            .cv {
                background: linear-gradient(to bottom right, #2c2c2c, #474545);
                backdrop-filter: blur(100px);
                -webkit-backdrop-filter: blur(100px);
                border-radius: 20px;
                border:2px solid rgb(255, 255, 255);
                box-shadow: 0 8px 32px 0 rgb(104, 101, 101);
                -webkit-box-shadow: -3px 3px 0px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: -3px 3px 0px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
                margin-top: 50px;
                padding: 10px;
                font-size: 23px;
                border-radius: 20px;
                transition: all 0.1s;
            }
            .cv:hover {
            font-size: 22px;
            padding: 9px;
            -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
            }
            p {
                display: inline;
            }
        }
    }
    .habil {
        @include border;
        .texthabil {
            display: grid;
            grid-template-columns: 1fr, 1fr;
            grid-template-rows: 1fr;
            grid-template-areas:
            "habilidades tecs";
            justify-items: center;
            .titulo {
                grid-area: habilidades;
                padding: 0px 50px;
                h2 {
                    font-weight: 300;
                    font-size: 45px;
                    text-decoration: underline;
                }
                p {
                    font-size: 20px;
                    margin-top: 10px;
                    .underline {
                        text-decoration: underline;
                        background-color: #2c2c2c;
                        padding: 2px;
                        color: $blanco;
                    }
                }
            }
            .tecs {
                grid-area: tecs;
                h3 {
                    font-weight: 200;
                    font-size: 40px;
                    text-decoration: underline;
                }
                ul {
                    margin-left: 220px;
                    font-size: 25px;
                    font-weight: 200;
                    list-style: none;
                    li {
                        background: linear-gradient(to bottom right, #a8a8a8, #b5b5b5);
                        color: #000;
                        width: 170px;
                        padding: 5px;
                        margin-bottom: 5px;
                        border-radius: 10px;
                        margin-right: 250px;
                    }
                }
            }
        }
    }
    .proyectcont {
        @include border;
        display: block;
        h2 {
            font-weight: 300;
            font-size: 45px;
            text-decoration: underline;
            margin-left: 50px;
        }
        .contenedorhijo {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0px 100px;
            .tarjetas {
                margin-top: 50px;
                height: 350px;
                width: 500px;
                border: 1px solid #2c2c2c;
                border-radius: 50px;
                transition: all 0.5s;
            }
        }
    }
}