:root {
  --primary: #242424;
  --secondary: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  cursor: default;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Lexend", sans-serif;
  color: aliceblue;
  padding-bottom: 100px;
  background-color: #313131;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px
}
body .underline {
  text-decoration: underline;
  text-decoration-color: var(--secondary);
  text-underline-offset: 10px;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--primary);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 20px;
  border: 3px solid var(--primary);
}

header {
  background: rgba(40, 40, 40, 0.65);
  width: 100%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(40, 40, 40, 0.17);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  position: sticky;
  top: 0pc;
  z-index: 100;
  border-bottom: 2px solid var(--secondary);
}
header a img {
  height: 70px;
}
header nav ul {
  display: flex;
  margin-top: 20px;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  transition: all 0.3s;
}
header nav ul li a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 6px
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  border-radius: 46px;
  background: linear-gradient(225deg, #202020, #272727);
  box-shadow:  -29px 29px 59px #141414,
                29px -29px 59px #343434;
  margin: 70px 0px;
  padding: 50px;
}
main h2 {
  font-weight: 300;
  font-size: 35px;
}
main .present {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: flex-end;
  width: 60vw;
  margin-bottom: 50px;
}
main .present img {
  height: 110px;
  border-radius: 70px;
  margin-right: 50px;
}
main .present .text {
  width: 350px;
}
main .present .text h2 {
  font-weight: 300;
  font-size: 35px;
}
main .present .text .typing-demo {
  width: 23ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: "Lexend", sans-serif;
  font-size: 24px;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
main .present h3 {
  margin-top: 10px;
  font-weight: 200;
}
main .contacto {
  display: flex;
  justify-content: center;
  width: 50vw;
}
main .button {
  text-decoration: none;
  margin-left: 10px;
  width: 150px;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: var(--primary);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  gap: 10px;
  font-weight: 200px;
  border: 3px solid rgba(255, 255, 255, 0.3019607843);
  outline: none;
  overflow: hidden;
  font-size: 15px;
  font-family: "Lexend", sans-serif;
}
main .contacto .button {
  width: 100%;
}
main .button .icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}
main .button:hover {
  transform: scale(1.05);
  border-color: rgba(255, 255, 255, 0.6);
}
main .button:hover .icon {
  transform: translate(4px);
}
main .button:hover::before {
  animation: shine 1.5s ease-out infinite;
}
main .button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.6;
}
@keyframes shine {
  0% {
    left: -100px;
  }
  60% {
    left: 100%;
  }
  to {
    left: 100%;
  }
}
main .aboutMe {
  padding: 20px;
  border-radius: 30px;
  display: flex;
  margin-top: 130px;
  flex-direction: column;
  transition: all 0.5s;
}
main p {
  line-height: 1.5;
  font-size: 18px;
  margin-top: 10px;
}
main .aboutMe h2 {
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 30px;
}
main .aboutMe h2 .size-8 {
  width: 24px;
  height: 24px;
}
main .stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 100px;
  height: 350px;
  transition: all 0.5s;
  border-radius: 20px;
  padding: 20px;
}

main .stack .stackList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  list-style: none;
}

main .stack .stackList .stackItem {
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-weight: 200;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(63, 20, 122);
  transition: all 0.5s;
  cursor: default;
}

main .stack p {
  margin-top: 10px;
}

ul {
  list-style: none;
  margin-bottom: 30px;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 50px;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  color: #4d4d4d;
  background-color: #ffff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 50%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}
.example-2 .icon-content a[data-social="html"] .filled,
.example-2 .icon-content a[data-social="html"] ~ .tooltip {
  background-color: #f98742;
}
.example-2 .icon-content a[data-social="css"] .filled,
.example-2 .icon-content a[data-social="css"] ~ .tooltip {
  background-color: #00a2ff;
}
.example-2 .icon-content a[data-social="javascript"] .filled,
.example-2 .icon-content a[data-social="javascript"] ~ .tooltip {
  background-color: #f0db4f;
}
.example-2 .icon-content a[data-social="react"] .filled,
.example-2 .icon-content a[data-social="react"] ~ .tooltip {
  background-color: #57c4db;
}

main .proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  transition: all 0.5s;
  border-radius: 20px;
  padding: 20px;
}

main .proyectos h2 {
  align-self: flex-start;
}

.containerProyects {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.card {
  background: #fff;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
  display: flex;
  min-width: 19vw;
  min-height: 52vh;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 16px;
}

.cardPreview {
  height: 12rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.cardPreview img {
  width: 100%;
  object-fit: cover;
  transition: all 0.4s ease-out;
}

.card:hover .cardPreview img {
  transform: scale(1.14);
}

.cardContent {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: #000;
}

.cardBottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardTitle {
  display: flex;
  align-items: center;
}

.icon {
  height: 60px;
  width: 60px;
}

.cardDescription {
  margin-top: 0.5rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

/* Media queries */
@media (max-width: 1024px) {
  main .stack {
    width: 50vw;
  }
  main .aboutMe {
    width: 50vw;
  }
  main .proyectos {
    width: 50vw;
  }
  main .contacto {
    width: 50vw;
  }
}

@media (max-width: 850px) {
  main {
    width: 90vw;
  }
  main .proyectos {
    width: 80vw;
  }
  main .stack {
    width: 80vw;
  }
  main .contacto {
    width: 80vw;
  }
  main .present {
    flex-direction: column;

  }
  main .present .text {
    margin-top: 20px;
  }
  main .present .text h2 {
    font-size: 30px;
  }
  main .present .text .typing-demo {
    font-size: 20px;
  }
  main .present img {
    margin-right: 0;
  }
  main .proyectos h3 {
    font-size: 25px;
  }
  main .button {
    width: 100%;
  }
  main .button .icon {
    width: 20px;
    height: 20px;
  }
  main .button span {
    display: none;
  }
  main .button:hover {
    width: 100%;
  }
  main .button:hover .icon {
    width: 20px;
    height: 20px;
  }
  main .button:hover span {
    display: none;
  }
  main .aboutMe {
    width: 90vw;
  }
  main .aboutMe h2 {
    font-size: 25px;
  }
  main p {
    font-size: 16px;
  }
  main .aboutMe .stack {
    width: 90vw;
  }
  main .aboutMe .stack h3 {
    font-size: 20px;
  }
  main .present img {
    align-self: center;
  }
  main .present {
    margin-top: 100px;
  }
}

@media (max-width: 580px) {
  main .contacto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 70px;
    margin-right: 0pc;
  }
  main .contacto .button {
    width: 300px;
  }
  main .contacto .button:hover{
    width: 320px;
  }
  main .proyectos p {
    font-size: 13px;
  }
  main .proyectos h2 {
    font-size: 20px;
  }
  main h2 {
    align-self: center;
    font-size: 32px;
  }
  main .present {
    transform: scale(0.9);
    align-items: center;
  }
}